// import files
@import "variables";
// import font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
// general style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --primary: #{$bgColor};
    --secundary: #{$bgCard};
    --tertiary: #{$bgQrcode};
    --quaternary: #{$bgTitle};
    --quinary: #{$bgText};
    --septenary: #{$bgShadow};
}

@mixin sizeContent() {
    height: 100vh;
    width: 100vw;
}

@mixin aligItems($justify_content , $align_items, $flex_direction) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

section {
    @include sizeContent();
    @include aligItems(center, center, column);

    position: relative;
    background-color: var(--primary);

    .card {
        @include aligItems(space-between, center, column);

        width: $width; height: $height;
        background-color: var(--secundary);
        border-radius: 30px;
        box-shadow: var(--septenary);
        padding: 20px 20px 50px 20px;
    }

    .cardContent {
        text-align: center;
        padding: 0 10px;

        h1 {
            color: var(--quaternary);
            font-size: 2rem;
            margin: 0 0 15px 0;
        }

        p {
            color: var(--quinary);
            font-size: 1.1rem;
        }
    }

    .cardImage {
        @include aligItems(center, center, column);
        $size: 290px;
        $radius: 18px;

        width: $size; height: $size;
        border-radius: $radius;
        background-color: var(--tertiary);

        img {
            $size: 85%;

            border-radius: $radius;
            width: $size;
            height: $size;
        }
    }

    .cardLink {
        @include aligItems(center, center, column);

        position: absolute;
        gap: 10px;
        top: 35px;

        a {
            text-decoration: none;
            color: var(--tertiary);
        }
    }

}
