// import files
@import "variables";
// import font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
// general style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

@mixin sizeContent() {
    height: 100vh;
    width: 100vw;
}

@mixin aligItems($justify_content , $align_items, $flex_direction) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

section {
    height: 100%;
    position: relative;
    background-color: $bgColor;
    @include sizeContent();
    @include aligItems(center, center, column);

    .card {
        width: 330px; height: 485px;
        background-color: $bgCard;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.15), 
                    0 0 100px rgba(0,0,0,0.10);
        padding: 20px 20px 50px 20px;
        @include aligItems(space-between, center, column);
    }

    .cardContent {
        text-align: center;
        padding: 0 10px;
        h1 {
            color: $bgTitle;
            font-size: 2rem;
            margin: 0 0 15px 0;
        }

        p {
            color: $bgText;
            font-size: 1.1rem;
        }
    }

    .cardImage {
        width: 290px; border-radius: 18px;
        height: 290px; background-color: $bgQrcode;
        @include aligItems(center, center, column);

        img {
            border-radius: 18px;
            width: 85%;
            height: 85%;
        }
    }

    .cardLink {
        position: absolute;
        gap: 10px;
        top: 30px;
        @include aligItems(center, center, column);

        a {
            text-decoration: none;
            color: $bgQrcode;
        }
    }

}
